html, body {
  margin: 0;
  height: 100%;
  background: white;
}

.time {
  width: 50%;
  height: 34%;
  background: white;
}

.left {
  float: left;
}

.right {
  float: right;
}

.timeLbl {
  color: black;
}

.timeAmPm {
  color: #727272;
}